<nav class="nav nav__page-<%= page_name %>">
  <div class="nav__top">
    <a href="/<%= basePath %>" class="nav__home"><% include ./svg/home.svg %></a>
    <button id="js-show-dropdown" class="nav__hamburger"><% include ./svg/hamburger.svg %></button>
    <a href="/<%= basePath %>" class="nav__logo"><img src="/img/misc/festival-w73-h24.png" alt="festival logo" width="73"></a>
  </div>
  <div class="nav__dropdown-mask" id="js-dropdown-mask">
    <ul class="nav__dropdown" id="js-dropdown">
      <% for (var i = 0; i < navigations.length; i++) { %>
        <li class="nav__dropdown-item"><a href="<%= navigations[i].href %>"><%= navigations[i].text %></a></li>
      <% } %>
    </ul>
  </div>
  <div class="nav__desktop">
    <div class="nav__desktop-inner">
      <a href="/<%= basePath %>" class="nav__logo"><img src="/img/misc/festival-w82-h27.png" alt="festival logo" width="82"></a>
      <div class="nav__nav-group">
        <a href="/<%= basePath %>" class="nav__home"><% include ./svg/home.svg %></a>
        <% for (var i = 0; i < navigations.length; i++) { %>
          <a href="<%= navigations[i].href %>" class="nav__link"><%= navigations[i].text %></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
