<% include ./_head.ejs %>
<% include ./_navbar.ejs %>

<header class="header">
  <div class="header__bg"></div>
  <div class="header__content">
    <div class="header__c-inner">
      <h1 class="header__title"><%= i18n.__('Contact Us') %></h1>
    </div>
  </div>
</header>

<section class="content">
  <form method="post" action="/submit-form">
    <label for="name"><%= i18n.__('Your name') %></label>
    <input class="u-full-width" type="text" id="name" name="name" required>
    <label for="email"><%= i18n.__('Your email') %></label>
    <input class="u-full-width" type="email" placeholder="example@email.com" id="email" name="email" required>
    <label for="message"><%= i18n.__('Message') %></label>
    <textarea class="u-full-width" placeholder="<%= i18n.__('message...') %>" id="message" name="message" required></textarea>
    <button class="button-primary" type="submit"><%= i18n.__('Submit') %></button>
  </form>
</section>

<% include ./_foot.ejs %>
